# Misc. irrelevant files
.DS_Store
*/LICENSE


# ------------------
# R files
.Rhistory
.Rapp.history
.RData
*-Ex.R
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*.Rproj
.Rapp.history
statinference-course-project.Rproj
.RData
.Rhistory


# ------------------
# Python
__pycache__/
*.py[cod]
*$py.class
env
help
*-checkpoint.ipynb
#.ipynb_checkpoints/*-checkpoint.ipynb

# ------------------
# Data
*.csv
*.zip
*.xlsx
style.css
*/submissions/
*/leaderboard/
*/legacy/


# ------------------
# By folder
# challenge-25/*.csv
vignettes/*.html
vignettes/*.pdf
leaf-classification/data/images/*.jpg
challenge-28/hospidiag.pdf

