*/.gitignore
*-checkpoint.ipynb
.ipynb_checkpoints/*-checkpoint.ipynb

*-Ex.R
*.csv
.DS_Store
.httr-oauth
.Rapp.history
statinference-course-project.Rproj
.RData
.Rhistory
.Rproj.user
.Rproj.user/


challenge-25/*.csv
style.css
vignettes/*.html
vignettes/*.pdf
